* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#map {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
}
header {
    color: black;
    padding: 1rem;
    border: 1px solid #938383;
}
.navbar-content {
    display: flex;
    justify-content: space-between;
}
.navbar-content img {
    height: 5rem;
    margin-right: 1rem;
}
.navbar-content form {
    display: flex;
    align-items: center;
}
.navbar-content input {
    padding: 1rem;
    border: none;
    border-radius: 4px;
    border: 1px solid #707070;
    width: 550px;
    font-size: 1rem;
}
.navbar-content input::placeholder {
    color: #999;
}
.content-container {
    display: grid;
    grid-template-columns: 20% 1fr;
    width: 100%;
    height: calc(100vh - 7rem);
    overflow: hidden;
}

.side-navigation {
    display: flex;
    flex-direction: column;
}

.filter-nav {
    margin: 1rem;
}

.filter {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    gap: 0.5rem;
}
.filter select {
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 1rem;
}
.filter select:focus {
    outline: none;
}
#reset {
    background: none;
    border: none;
}
